<div class="mat-elevation-z8 center-elevation">
<table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="notas">

  <ng-container matColumnDef=cnpj>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
    <td mat-cell *matCellDef="let row">{{ row.cnpj}}</td>
  </ng-container>

  <ng-container matColumnDef=numero_nota>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Número da Nota</th>
    <td mat-cell *matCellDef="let row">{{ row.numero_nota }}</td>
  </ng-container>


  <ng-container matColumnDef=data_emissao>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Emissão</th>
    <td mat-cell *matCellDef="let row">{{ row.data_emissao }}</td>
  </ng-container>

  <ng-container matColumnDef=pedido_loja>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pedido</th>
    <td mat-cell *matCellDef="let row">{{ row.pedido_loja }}</td>
  </ng-container>

  <ng-container matColumnDef=chave_acesso>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Chave de acesso</th>
    <td mat-cell *matCellDef="let row">{{ row.chave_acesso }}</td>
  </ng-container>

  <ng-container matColumnDef=status>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let row">{{ row.status }}</td>
  </ng-container>

  <ng-container matColumnDef="enviar">
        <th mat-header-cell class="cell-align-center" matHeaderCellDef>Enviar</th> 
        <td mat-cell class="cell-align-center"matCellDef="let row">
            <button mat-raised-button color="warn" title="Enviar" (click)="salvar(row.numero_nota)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
  </ng-container>

  <ng-container matColumnDef=link_danfe>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DANFE</th>
    <td mat-cell *matCellDef="let row"><a mat-raised-button target="_blank" href="{{ row.link_danfe }}"><mat-icon>print</mat-icon></a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</div>
