<p>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span class="mat-button">Traveler</span>
    <a class="mat-button" routerLink="/notas">Notas</a>
    <a class="mat-button" routerLink="/login">Sair</a>
    <span class="spacer"></span>
    <button mat-mini-fab title="Clique aqui para importar notas"><mat-icon>autorenew</mat-icon></button>
  </mat-toolbar>
</p>
