<mat-card>
        <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Usuário" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Senha" formControlName="password">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button routerLink="/notas">Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
